@font-face {
    font-family: 'Atari';
    src: url('Commodore Angled v1.2.ttf');
}

@keyframes shake-animation {
    0% {
        transform: rotate(3deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    40% {
        transform: rotate(9deg);
    }
    60% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: black;
    min-width: 620px;
    min-height: 460px;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    
    overflow: hidden;
}

.allContainer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    min-width: 620px;
    min-height: 465px;
}

.canvasContainer {
    flex: 1 0;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    min-height: 0;
}

.shake {
    animation-name: shake-animation;
    animation-duration: 1s;
}

.playerContainer {
    margin: auto;
    flex: 0;
}

img.player {
    /* width: 10vw;
    height: 10vw; */
    width: 100px;
    height: 100px;
}

.options {
    display: flex;
    flex: 0;
    justify-content: space-around;
}

.options p {
    width: 200px;
    font-family: 'Atari';
    font-size: 20px;
    color: white;
}

@media screen and (max-width: 1100px), screen and (max-height: 720px) {
    .options, img.player {
        display: none;
    }
}